*{
    margin: 0;
    padding: 0;


}
.sidebar{
    background-color: rgb(223, 218, 218);
    width: 434px;
    font-family: 'Fira Sans',sans-serif;
    height: 100vh;

}
.sidebar nav{
    padding: 40px 20px;
}
.sidebar nav li {
    list-style: none;
    font-size: 22px;
    padding: 23px 0px;
}
.sidebar nav li a{
       text-decoration: none;
       color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.infocontainer{
    background-color: rgb(218, 112, 112);
    height:50vh;
    width:80vw ;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    
}
.devPic img{
    height: 50vh;

}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 45px;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    margin-left: 15px;


}
.name{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Fira Sans',sans-serif;
    margin-left: 15px;



}
.about{
    font-size: 35px;
    font-family: 'Source Code Pro', monospace;
    margin-left: 15px;
    



}
.moreabout{
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    margin:20px ;


}
.buttons button{
    margin: 24px 3px;
    margin-left: 15px;
    padding: 5px 15px;
    border-radius: 15px;
    background-color:dodgerblue;
    color:white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;


}
.buttons button:hover{
    background-color: white;
    color:dodgerblue
}
.contactform{
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Fira Sans',sans-serif;



    
}
.contactform form{
    /* margin:14px 25px; */
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding-bottom: 13px;
    
    font-size: 32px;



}
.contactform form div input{
    width: 26vw;
    border-radius: 10px;
    margin: 9px 0 0 0;
    padding: 2px;
    display: flex;
}

#emailHelp{
    font-size: 12px;
    color: midnightblue;
padding: 10px 0px;

}
#form-check{
    display: flex;

    flex-direction: row;
    margin-top: 5px;
    margin: 10px 0px;

}
#form-check input{
    width: 26px;
    margin:3px 0px

    }
    .btn{
        padding: 5px 20px;
        margin: 6px 3px;
        border-radius: 15px;
        background-color: rgb(74, 111, 148);
        font-size: 15px;
        color: white;
        font-weight: bold



    }
    /* blog */
    .blogcontainer h1{
               
               border: 2px solid black;
               background-color: black;
               color: white;
               font-family: 'Source Code Pro',monospace;
    }
    .blogitems{
        margin: 20px;
        
        
        
        font-family: 'Fira Sans',sans-serif;

    }
    .blogitems h2{
        margin: 2px;
        margin-left: 0px;
        padding-left: 0px;   
     }
     .btnsm{
         margin: 10px 4px;
         padding: 4px 5px;
         border-radius: 10px;
         color: white;
         background-color: rgb(84, 117, 150);
         cursor: pointer;
     }
    
        







